body{
    font-family: "Arial","Meiryo",sans-self;
        text-align: center;
}

h1{


  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2rem;
  text-shadow: 3px, 3px, 3px, black;
  border-bottom: 3px solid rgb(115, 115, 114);

}

.blue {
    color: skyblue;
}

.pink{
    color: rgb(255, 192, 203);
}

:root{
    font-size: 20px;
}



#basic > p{
    font-weight: bold;
}